/* App.css */
body {
    margin: 0;
    background-color: #e6f0ff; /* ¥þµe­±­I´º²LÂÅ */
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 28px 28px 28px;
}
